<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./css/style.css">
    <title>Document</title>
  </head>
  <body style='background:#666'>

    <div id="spriteicon" class="row">
      {{#svgs}}
        <div class="col-2">
          <span class="ico ico-{{{name}}}">.ico.ico-{{{name}}}</span>
        </div>
      {{/svgs}}
    </div>
    <script>
      let xhr = new XMLHttpRequest()
      xhr.open('get', './img/sprite.svg', true)
      xhr.setRequestHeader('Content-type', 'image/svg+xml')
      xhr.send('null')

      xhr.addEventListener('load',function(){
        document.body.prepend(xhr.responseXML.all[0])
        document.querySelector("svg")
          .querySelectorAll("symbol").forEach(symbol => {
            spriteicon.insertAdjacentHTML("beforeend", ` <div class="col-1"><svg class="img-fluid" height="100"><use xlink:href="#${symbol.id}" /><text x="50" y="50" fill="red">#${symbol.id}</text><svg></div>`)
            });
          document.querySelector("svg").style.display = 'none'
          })
    </script>
  </body>
</html>