//- pug -E xml -P sitemap.pug
<?xml version="1.0" encoding="utf-8" ?>
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemalocation="http://www.sitemaps.org/schemas/sitemap/0.9\
http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")
  // created with Free Online Sitemap Generator www.xml-sitemaps.com
  url
    loc http://www.xxx.com.tw/
    lastmod 2020-01-13T07:37:58+00:00
    priority 1
  url
    loc http://www.xxx.com.tw/page.html
    lastmod 2020-01-13T07:38:01+00:00
    priority 0.8
