include ./_seo.pug
include ./_jsonld.pug
include ./_module.pug
include ./_head
include ./_header

mixin layout(file)
  -let slots = {};
  -let{title, desc}= seo[file]
  mixin slot(name)
    -slots[name] = block
  block

  html(lang="zh-Hant-TW")
    head
      +head_meta(file,title,desc)
      -slots.head  && -slots.head()
      -slots.includeStyle && slots.includeStyle()
      -slots.style &&  -slots.style()
    body
      +header(title)
      -slots.body && slots.body()
      include ./_footer
      script(src="./js/vendors.js")
      -slots.includeScript && slots.includeScript()
      script(src="./js/script.js")
      -slots.script && slots.script()