include ./_seo.pug
include ./_jsonld.pug
include ./_module.pug

//- include ./_header


-let primary = 'red'
-let secondary = 'blue'
-let h1 = true
-let project = 'project'
-let filename = ''
-let web ='template'
block var

-let {title, desc} = seo[file]

doctype html
html(lang="zh-Hant-TW")
  head
    include ./_head
    block head
    if breadcrumb
      -breadcrumb.push(file)
      +jsonBreadcrumb(breadcrumb)
  body
    include ./_header
    block body
    include ./_footer
    script(src="./js/vendors.js")
    script(src="./js/script.js")
