-
  let seo =
    {
      index: {
        title:'首頁',
        desc:'描述'
      },
      page: {
        title:'內頁',
        desc:'描述'
      },
      content: {
        title:'文章',
        desc:'描述'
      }
    }
