// stylelint-disable declaration-no-important

.v-baseline    { vertical-align: baseline !important; } // Browser default
.v-top         { vertical-align: top !important; }
.v-middle      { vertical-align: middle !important; }
.v-bottom      { vertical-align: bottom !important; }
.v-txtbottom { vertical-align: text-bottom !important; }
.v-txttop    { vertical-align: text-top !important; }
