// stylelint-disable property-disallowed-list, declaration-no-important

//
// Border
//

.bd         { border: $border-width solid $border-color !important; }
.bt, .by     { border-top: $border-width solid $border-color !important; }
.br, .bx   { border-right: $border-width solid $border-color !important; }
.bb, .by  { border-bottom: $border-width solid $border-color !important; }
.bl, .bx    { border-left: $border-width solid $border-color !important; }

.bd-0        { border: 0 !important; }
.bt-0, .by-0    { border-top: 0 !important; }
.br-0, .bx-0  { border-right: 0 !important; }
.bb-0, .by-0 { border-bottom: 0 !important; }
.bl-0, .bx-0   { border-left: 0 !important; }

@each $color, $value in $theme-colors {
  .b-#{$color} {
    border-color: $value !important;
  }
}


//
// Border-radius
//

.radius-sm {
  border-radius: $border-radius-sm !important;
}

.radius-md {
  border-radius: $border-radius !important;
}

.radius-top {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.radius-right {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.radius-bottom {
  border-bottom-right-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.radius-left {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.radius-lg {
  border-radius: $border-radius-lg !important;
}

.rounded {
  border-radius: 50% !important;
}

.pill {
  border-radius: $rounded-pill !important;
}

.radius-0 {
  border-radius: 0 !important;
}
