$bg-type: cover, contain, fixed
%bg-default
  background:
    position: center
    repeat: no-repeat

@each $type in $bg-type
  .bg-#{$type}
    @extend %bg-default
    background-#{if($type == 'fixed', 'attachment', 'size')}: $type

@each $bg-position in $positions
  $index: index($positions, $bg-position)
  .bg-#{$bg-position}
    background-position-#{if($index < 3, 'x', 'y')}: $bg-position
  .bg-center-#{$bg-position}
    background-position: center #{$bg-position}