%pseudo-absolute
  content: ''
  position: absolute
%pseudo-inline
  content: ''
  display: inline-block
%dropdown-close
  visibility: hidden
  max-height: 0
  opacity: 0
  transition: max-height  .3s ,opacity 0s .15s
=dropdown($height: 300px)
  visibility: visible
  max-height: $height
  opacity: 1
.z-top
  z-index: 2000
@import './scrollbar'
@import './background'
// @import './animate'
@import './color'
@import './shape'
@import './component'
@import './ico'
@import './mask'