@import './sprite';
// .border-dashed {
//   --stroke-width: 3px;
//   border: 25px solid transparent;
//   border-image: url(nth($dash-border,1)) 20% round;
// }
// border-image-source:  url(nth($dash-border,1));
// border-image-width: 25px 25px 25px 25px;
// border-image-repeat: round round;
// border-image-slice: 20%;
// border-image-outset: 0 0 0 0;1j4s